@use "/css/layout";

.notFound {
  grid-column: content;
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100vh - 110px);
  width: 100%;
  align-items: center;
  justify-items: center;
}

.notFoundMessage {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  grid-row-gap: 20px;
  text-align: center;

  img {
    border-radius: 50%;
    max-width: 300px;
    height: auto;
  }
}
