/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./app/(home)/page.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_section__VSywd {
  padding: 30px 0;
  grid-column: content;
}

.page_singleColumn__Mwsy7 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
}

.page_doubleColumn__pfVgt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
}
@media (max-width: 768px) {
  .page_doubleColumn__pfVgt {
    grid-template-columns: 1fr;
  }
}

.page_tripleColumn__JZkdT {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
}
@media (max-width: 768px) {
  .page_tripleColumn__JZkdT {
    grid-template-columns: 1fr;
  }
}

.page_quadrupleColumn__VIt_i {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
}
@media (max-width: 768px) {
  .page_quadrupleColumn__VIt_i {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 400px) {
  .page_quadrupleColumn__VIt_i {
    grid-template-columns: 1fr;
  }
}

.page_boxCentered__ID1Y6 {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  justify-items: center;
  justify-content: center;
  width: 100%;
}

.page_fullWidth___YZhU {
  grid-column: 1/-1;
}

.page_heroImage__E_0Rd {
  max-width: 512px;
  height: auto;
  border-radius: 40px;
}

.page_responsiveImage__Xdxnc {
  max-width: 100%;
  height: auto;
}

.page_hero__UyKlx {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  justify-items: center;
  justify-content: center;
  width: 100%;
}
.page_hero__UyKlx h1 {
  margin: 0;
  padding: 0;
}

.page_heroBtn__ZHVSG {
  margin-top: 20px;
  font-size: 28px !important;
}
@media (max-width: 768px) {
  .page_heroBtn__ZHVSG {
    font-size: 20px !important;
  }
}

.page_socialIcons__6cq4b {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-gap: 40px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
}
@media (max-width: 768px) {
  .page_socialIcons__6cq4b {
    grid-template-columns: repeat(2, max-content);
  }
}

.page_sectionTitle__f5ygV {
  text-align: center;
  text-wrap: balance;
}

.page_iconLink__tpNPu {
  display: grid;
  grid-template-columns: max-content;
  align-items: center;
  justify-items: center;
  grid-row-gap: 10px;
}

.page_contractAddress__qtuGb {
  text-align: center;
}
@media (max-width: 768px) {
  .page_contractAddress__qtuGb {
    font-size: 24px;
  }
}

.page_infoBox__3SWvT {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  justify-items: center;
  text-align: center;
  padding: 30px;
}
.page_infoBox__3SWvT img {
  max-width: 300px;
  height: auto;
  border-radius: 50%;
}
.page_infoBox__3SWvT p {
  font-size: 24px;
  text-wrap: balance;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./app/components/button/Button.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_button__4kTrj {
  border: 1px solid var(--color2);
  border-radius: 50px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 16px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  min-width: 210px;
  height: 70px;
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.4s;
  direction: ltr;
  text-transform: uppercase;
  padding: 10px 25px;
  color: #fff;
  background: linear-gradient(45deg, var(--color3) 0%, var(--color3) 50%, var(--color2) 50%, var(--color2) 100%);
  background-size: 300% 100%;
  background-position-x: right;
}
.Button_button__4kTrj svg {
  position: relative;
  transition: all 0.4s;
}
.Button_button__4kTrj:hover {
  background-position-x: left;
  color: var(--color1);
}
.Button_button__4kTrj:hover svg {
  transition: all 0.4s;
  fill: #fff;
  transform: translateX(4px);
}
@media (max-width: 768px) {
  .Button_button__4kTrj {
    font-size: 16px;
    min-width: 180px;
    height: 60px;
    transition: all 0.4s;
  }
}

.Button_link__d_C4e {
  text-decoration: none;
}
